@model IEnumerable<EcommerceSolutionEFCoreMVC.Models.Entities.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApplicationUser.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => order.ApplicationUser.FullName)</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => order.Status)</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                    <td>                        
                        <a asp-action="Edit" asp-route-id="@order.OrderId" class="btn btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@order.OrderId" class="btn btn-info">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@order.OrderId" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
